.card-container {
    margin: 1rem;
    box-shadow: 0 0 15px -5px;
    border-radius: 5px;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.card__image img {
    height: 15rem;
    width: 100%;
    border-radius: 5px;
}

.card__title,
.card__price {
    color: #000;
    margin: 0.5rem 1rem;
}

.card__price h3 {
    font-size: 1.5rem;
}

.card__price {
    margin: 0.5rem 1rem;
}

.card__button {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 1rem 1rem 1rem;
}

.card__button button {
    margin: 0.5rem;
    font-size: 0.9rem;
}

.wishlist__btn {
    margin-left: 0.5rem;
}

.wishlist__btn btn {
    margin: 0.1rem;
}

.wishlist {
    align-self: flex-end;
    margin: 0 1rem;
}

@media screen and (min-width: 400px) {
    .card__button button {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card-container {
        margin: 2.5rem;
    }
    .card__image img {
        height: 25rem;
    }

    .card-container:hover {
        cursor: pointer;
        transform: scale(1);
    }

    .card__button button {
        padding: 1rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .card-container:hover {
        transform: scale(1.1);
    }

    .card__price {
        font-size: 1.5rem;
    }
}
