.grid-container {
    display: grid;
    grid-column: 1fr 1fr;
    grid-template-areas: "items items";
}

.products__link {
    box-shadow: 0 0 15px -5px;
}

.header {
    background-color: #333;
}

.header p {
    color: #fff;
    font-weight: 600;
}

.products__nav {
    display: flex;
    justify-content: space-around;
}

.products__item {
    margin: 1rem;
    font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
    .grid-container {
        grid-column: 1;
        grid-template-areas: "items items items items ";
    }
}
