.wishlist-item__quantity {
    margin: 1rem 0;
}

.wishlist-item__details {
    position: relative;
}

.wishlist-item__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
}

.remove-wishlist__btn {
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
    .remove-wishlist__btn {
        margin: 0 1rem;
    }
}
