* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: #fff;
}

.list {
    list-style: none;
}

.btn {
    padding: 0.5rem;
    border: 0;
    outline: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
}

.btn--primary {
    background-color: #008cba;
    color: #fff;
}

.btn--primary:hover {
    background-color: #036c8f;
    color: #fff;
}

.btn--secondary {
    background-color: #208637;
    color: #fff;
}

.btn--secondary:hover {
    background-color: #187c2f;
    color: #fff;
}

.btn--danger {
    background-color: #f44336;
    color: #fff;
}

.btn--danger:hover {
    background-color: #c9261a;
    color: #fff;
}
